// Import google fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

body {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 2em;
  position: relative;  /* required by bootsrap scroll-spy plug-in*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}

// Header Carousel
@import "main/carousel";

// Sections
.section {
  padding: 50px 0;
}

.section h2 {
  text-align: center;
  margin-bottom: 30px;
}

// Section Mission
@import "main/mission";

// Section Services
@import "main/services";

// Section Staff
@import "main/staff";

// Section Customers
@import "main/customers";

// Section Contacts
@import "main/contacts";

// Footer
footer p {
    text-align: center;
    font-size: 0.7em;
    margin-bottom: 70px;
}
